<form #loginForm="ngForm">
    <h1 class="login-title">Log In</h1>
    <mat-form-field>
        <input matInput class="form-control" #emailControl="ngModel" placeholder="Email" [(ngModel)]="email" name="email" maxlength="70" email required> </mat-form-field>
    <mat-form-field>
        <input matInput class="form-control" #passwordControl="ngModel" placeholder="Password" [(ngModel)]="password" name="password" maxlength="70" type="password" required> </mat-form-field>
    <button [disabled]="!loginForm.form.valid" type="submit" mat-raised-button color="primary" (click)="signIn()">Login</button>
    <p *ngIf="msg" class="text-danger">{{msg}}</p>
</form>